<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}
</head>
<body>
    {{>navbar}}

    <div class="container">
        <div class="about">
            <h1>Page Under Maintenance</h1>
        </div>
    </div>

</body>
</html>