<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>

    <div class="header">

        <div class="logo-img">
            <img src="../../images/logoh.png" alt="">
        </div>
    
        <div class="container-home">
            <h1>System Overflow</h1>
            <span id="inspired">Inspired by stackoverflow</span>
            <p>Every <span class="auto-input">developer</span> have a doubt</p>

            <div class="btn">
                <a href="/index">Lets Go</a>
            </div>
        </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>

        var type = new Typed(".auto-input", {

            strings: ["student", "developer", "data scientist", "game developer", "mobile developer", "system admin"],
            typeSpeed: 100,
            backSpeed: 100,
            loop: true
        
        })

    </script>
</body>
</html>